.starter {
    background: url('../assets/pilsetasimages/background.jpg') no-repeat center center/cover;
    color: white;
    padding: 5em 0;
    text-align: center;
}

.subTitleCity {
    font-size: 3rem;
    margin: 0.5em 0;
    color: #ff6300;
    font-weight: bold;
    align-items: center;
    margin-left:20rem ;
}

.descriptionCity {
    font-size: 1.2em;
    width: 80%;
    margin: 0 auto;
    max-width: 800px;
    color: #ff6300;
    align-items: center;
    margin-left:20rem ;
}

.destination {
    padding: 3em 0;
    background-color: white;
}

.titleCity {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cardCity, .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1em;
    max-width: 300px;
    overflow: hidden;
    transition: transform 0.3s;
}

.cardCity:hover, .card:hover {
    transform: scale(1.05);
}

.image img {
    width: 100%;
    height: auto;
    display: block;
}

.contentCity {
    padding: 1em;
}

.contentCity h3 {
    margin: 0.5em 0 0;
    font-size: 1.5em;
    color: #ff6300;
}

/* Мобильные стили */
@media (max-width: 768px) {
    .responsive-toggle {
        display: block;
        color: white;
        font-size: 1.5em;
        cursor: pointer;
    }

    .links {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        text-align: center;
    }

    .links ul {
        flex-direction: column;
    }

    .links li {
        margin: 0.5em 0;
    }

    .links a {
        padding: 1em;
    }

    .links.show {
        display: flex;
    }
}

/* Кнопка прокрутки вверх */
.scrollToTop {
    position: fixed;
    bottom: 1em;
    right: 1em;
    background-color: #333;
    color: white;
    padding: 0.5em;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
}

.scrollToTop i {
    font-size: 1.5em;
}

/* Показать кнопку при прокрутке */
body.scrolled .scrollToTop {
    display: flex;
}