body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white for header */
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: orange; /* Orange links */
}

section {
    padding: 20px;
    color: white; /* White text for content */
}