.admin .kopsavilkums{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(22rem,1fr));
    gap: 1.5rem;
  }
  
  .admin .kopsavilkums .info-box{
  border: var(--border);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  padding: 2rem 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
  }
  
  
  .info-box span{
  width: 7rem;
  height: 7rem;
  font-size: 3rem;
  color: var(--main-color);
  background:var(--bg);
  border-radius: var(--radius);
  margin: 0 .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  
  .info-box h3{
  color: var(--black);
  padding: 1rem;
  font-size: 1.7rem;
  }
  
  
  .info-box p{
    color: var(--black);
    font-size: 1.3rem;
  }
  
  .admin .row{
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  
  .admin .defaultBorder{
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: var(--radius);
  }
  
  .admin .row .info1{
    flex: 1 1 45rem;
    margin-bottom: 2rem;
  }
  
  .admin .row .info2{
    flex: 1 1 20rem;
  }
  
  .logout a{
    color: #f8f8f8;
  }
  .head-info{
    background: #f8f8f8;
    color: var(--black);
    padding: 4rem;
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-bottom: .1rem solid #ddd;
  }
  


  
  .head-color{
    background: var(--bg);
  }
  
  .head-top{
    display: flex;
    justify-content: space-between;
  }
  
  #sph3{
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  
  table{
    font-size: 1.5rem;
    width: 100%;
  }
  
  th, td{
    text-align: center;
    height: 4rem;
    border-bottom: .1rem solid #ddd;
  }
  
  th{
    color: var(--black);
  }
  
  tr:hover{
    background: var(--bg);
  }
  
  .admin .btn{
    margin: 0;
    padding: .5rem 1.5rem;
  }
  
  
  .adminTable{
    font-size: 1.2rem;
    table-layout: fixed;
  }

  
  .current{
    font-weight: bold;
    background: var(--bg);
    border-radius: var(--radius);
    padding: 1rem;
  }
  
  table .value{
    font-size: 1.8rem;
    font-weight: bold;
    width: 50%;
  }

  nav .links ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    right: 9rem;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  nav .links ul li {
    margin: 0 3rem;
  }
  
  nav .links ul li a {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .nav-container .brand{
    font-size: 1rem;
    position: relative;
    right: 10rem;
    
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #ff6300;
   
    z-index: 1;
    background: #fff;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 9%; /* Уменьшено значение padding */
    text-decoration: none;
    
}

.logo{
    font-size: 2.5rem;
    color: var(--black);
    font-weight: bold;
}

